@CHARSET "ISO-8859-1";
.divCentral{

	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.titulo1
{
	font-family: arial;
	font-size: 40px;

}

.titulo2
{
	font-family: arial;
	font-size: 30px;

}
.tableClass
{
	border:solid;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;

}

.tdClass
{
	border:solid;
	width: 200px;
	text-align: center;
	font-family: arial;
	font-size: 40px;
}
.tdClassMenor
{
	border:solid;
	width: 200px;
	text-align: center;
	font-family: arial;
	font-size: 30px;
}

.error
{
	font-family: arial;
	font-size: 15px;
	font-weight: bolder;
	color: red;

}

.ok
{
	font-family: arial;
	font-size: 15px;
	font-weight: bolder;
	color: blue;
}

#res
{
	display:flex;
	justify-content: center;
	align-items: center;
	margin: 5px auto;
	height:37px;
	width: 405px;
	border: 2px solid black;
	font-family: arial;
	font-size: 30px;
	font-weight: bolder;
}

#res > div
{
	height: 100%;
	width: 50%;
	border:1px solid black;
	text-align: center;
}
