.fila,
.celda {
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #9999cc;
  border-style: solid;
  border-width: 1px;
}

button:hover {
  cursor: pointer;
}

button .etiqueta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.1em;
  font-weight: bold;
  background-color: transparent;
  border-width: 0;
}

#f {
    padding: 5px;
    box-sizing: border-box;
}

#f .fila {
  height: 25%;
  width: 100%;
  background-color: transparent;
  border-width: 0;
}

#f .fila .celda {
  float: left;
  height: 100%;
  width: calc(100% / 3); /* 3 botones en horizontal */
  background-color: transparent;
  border-width: 1px;
}

#f .flecha-izquierda {
  background-image: url("../img/list/arrow-right.png"); /* ponga la imagen aquí...*/
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 75% auto;
}

#f .flecha-derecha {
  background-image: url("../img/list/arrow-right.png"); /* ponga la imagen aquí...*/
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 75% auto;
}

#f {
  padding: 5px;
  box-sizing: border-box;
}

#p .fila {
height: 25%;
width: 100%;
background-color: transparent;
border-width: 0;
}

#p .fila .celda {
float: left;
height: 100%;
width: calc(100% / 5); /* 5 botones en horizontal */
background-color: transparent;
border-width: 1px;
}

#p .flecha-izquierda {
background-image: url("../img/list/arrow-right.png"); /* ponga la imagen aquí...*/
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: 75% auto;
}

#p .flecha-derecha {
background-image: url("../img/list/arrow-right.png"); /* ponga la imagen aquí...*/
background-repeat: no-repeat;
background-position: 50% 50%;
background-size: 75% auto;
}
